AddType application/rss+xml .rss

RewriteEngine  on
RewriteRule    ^forum(/)?$					http://forums.cocoaforge.com/viewforum.php?f=9 [R=301,L]
RewriteRule    ^(.*\.tar)$					http://update.cyberduck.ch/$1 [R=301,L]
RewriteRule    ^(.*\.gz)$					http://update.cyberduck.ch/$1 [R=301,L]
RewriteRule    ^(.*\.dmg)$					http://icu.unizh.ch/~dkocher/cyberduck/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.cyberduck\.ch$ [NC]
RewriteRule ^(.*)$ http://cyberduck.ch$1 [R=301,L]