RewriteEngine  on
RewriteRule    ^(.*\.tar)$					http://icu.unizh.ch/~dkocher/cyberduck/$1 [R=301,L]
RewriteRule    ^(.*\.gz)$					http://icu.unizh.ch/~dkocher/cyberduck/$1 [R=301,L]
RewriteCond	   %{REQUEST_URI}				!^/(Cyberduck-2\.4\.dmg)$
RewriteRule    ^(.*\.dmg)$					http://icu.unizh.ch/~dkocher/cyberduck/$1 [R=301,L]
RewriteRule    ^(.*\.dmg)$					http://update.cyberduck.ch/$1 [R=301,L]
RewriteRule    ^forum(/)?$					http://forums.cocoaforge.com/viewforum.php?f=9 [R=301,L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.cyberduck\.ch$ [NC]
RewriteRule ^(.*)$ http://cyberduck.ch$1 [R=301,L]