#content {
	background-color: white;
}
#content #feed {
	padding-bottom: 10px;
	width: 700px;
	float: right;
}
#content #feed h2 {
	padding: 2px;
	margin-bottom: 0;
	padding-top:10px;
	padding-bottom:5px;
}
#content #feed .entry {
	background-color: white;
	border-bottom: 1px solid white;
	padding-left: 10px;
}
#content #feed .entry:hover {
	background-color: #EFEFEF;
}
#content #feed .entry .tw_button {
	border-bottom: 1px solid #cccccc;
}
#content #feed .entry li {
	margin: 7px 0px 8px 10px;
	display:list-item;
}
.entry ul {
       list-style: none;
text-indent: -12px;
}
.entry ul li:before {
       content: "\00BB \0020";
}
ins {
	text-decoration: none;
}
#maincolumn p {
	margin-top: 13px;
	margin-botom: 13px; 
}
