#content #feed {
	padding-bottom: 10px;
	border-right: 1px solid #E5E5DB;
	width: 700px;
	float: right;
}
#content #feed h2 {
	/*background-color: #E5E5DB;*/
	padding: 2px;
	margin-bottom: 0;
	padding-top:10px;
	padding-bottom:5px;
}
#content #feed .entry {
	background-color: white;
	border-bottom: 1px solid white;
	padding-left: 10px;
}
#content #feed .entry li {
	margin: 7px 0px 8px 10px;
	display:list-item;
}
.entry ul {
       list-style: none;
text-indent: -12px;
}
.entry ul li:before {
       content: "\00BB \0020";
}
