#header img, #footer {
	display: none;
}
	
h1 {
	font-size:1.8em;
}

h1, h2, h3, h4 {
        letter-spacing:inherit;
}

.wikipage h1, .wikipage h2, .wikipage h3, .wikipage h4 {
	letter-spacing:normal;
}

.wikipage h2 {
	border-bottom:1px solid #cccccc;
}

.wikipage h1 {
	font-weight:normal;
	border-bottom:2px solid #cccccc;
}

.wikipage h1 a, .wikipage h2 a, .wikipage h3 a, .wikipage h4 a {
	text-decoration:none;
}

.wikipage a:link, .wikipage a:visited {
	color: #0066CC;
}

h1#maintitle  {
	font-family:inherit;
	position:absolute;
	top:20px;
}

h3#subtitle  {
	font-family:inherit;
	top:60px;
}
	
#mainnav li {
	border-top:none;
}

* html #mainnav :link, * html #mainnav :visited {
	background-image: none;
}

#mainnav :link, #mainnav :visited {
	background-image: none;
}

#mainnav :link:hover, #mainnav :visited:hover {

}

#mainnav .active :link, #mainnav .active :visited {
	background-image: none;

}

#mainnav .active :link:hover, #mainnav .active :visited:hover {
	background-image: none;

}

:link, :visited {
    background-color: transparent;
    border:none;
}
:link:hover, :visited:hover {
    background-color: transparent;
	color: #0066cc;
    border:none;
}

#metanav {
	position:absolute;
	padding-top:4px;
	top:5px;
	right:40px;
	height:15px;
	background-color: #ffffff;
	font-size:0.85em;
	text-transform:lowercase;
}

#ctxtnav { font-size:0.85em; text-transform:lowercase; }

.nav a { text-decoration: none; }

#main {
	position:absolute;
	top:185px;
	padding:5px;
	height:auto;
	right:40px;
	width:90%;
	bottom:auto;
	background-color: #ffffff;
}

#mainnav {
	position:absolute;
	padding:0px;
	top:162px;
	height:20px;
	right:40px;
	text-align:right;
	border:none;
	background:transparent;
	text-transform:lowercase;
}

#mainnav ul {
	padding-left: 7px;
	padding-right: 0px;
	padding-top:3px;
	padding-bottom:0px;
	height:20px;
	border:none;
	background: #fff url(http://cyberduck.ch/img/navigation.png) repeat-x;
}

#mainnav li { border: none; }
#mainnav ul li { padding-left: 0px; list-style: none; display: inline; }
/*#mainnav ul li.first { display:none; }*/
#mainnav ul > li:first-child { padding-left: 0; }
#metanav ul > li:first-child { padding-left: 0; }

#content {
	position:static;
	width:auto;
	right:0px;
	padding:5px;
	height:auto;
	border-width: 1px 1px 1px 1px;
	border-color: #666666;
	border-style: dotted;
}

#content.ticket {
	width: auto;
}

form#prefs { font-size:0.85em; background-color: #f7f7f7; } 

/*reports.css overwrites*/
table.listing tbody tr:hover { background-color: #cccccc !important }

/*timeline.css overwrites*/
dt :link:hover, dt :visited:hover { background-color: #cccccc; }

/*search.css overwrites*/
#results dd { font-size: 1em; margin: 0; padding: 0 }

/*browser.css overwrites*/
#dirlist td.name a.dir { background-image: url(http://cyberduck.ch/img/folder.png) }

.wiki-toc .active {
	background-color:transparent;
}

