	body { 
		font-family: "Gill Sans", Tahoma, Geneva, Trebuchet MS, Verdana, Arial, sans-serif;
		font-size: 13px;
		color: #000000;
	}
	
	.header {
		background-color: #cccccc;
		position: absolute;
		width:100%;
		height:280px;
		left:0px;
		right:0px;
		top:5px;
	}
	
	.header #logo {
		position:relative;
		top:10px;
		left:10px;
		float:left;
		z-index:2;
	}
	
	img#paypal {
		position:fixed;
		top:10px;
		right:30px;
	}

	img#amazon {
		position:fixed;
		top:10px;
		right:100px;
	}
	
	#title  {
		position:relative;
		top:15px;
		left:40px;
		clear:right;
	}

	#subtitle  {
		position:relative;
		left:40px;
	}
	
	div#navigation {
		position:absolute;
		width:100%;
		text-align:right;
	}
	
	body#index a#navigation-index, 
	body#features a#navigation-features,
	body#changelog a#navigation-changelog,
	body#source a#navigation-source, 		
	body#reviews a#navigation-reviews, 
	body#license a#navigation-license, 
	body#donate a#navigation-donate {
		color: #0066cc;
	}
	
	#navigation ul {
		padding-left:0;
		padding-right:60px;
		padding-top:3px;
		padding-bottom:0px;
		background: #fff url(./img/navigation.png) repeat-x;
		height:20px;
	}
	
	#navigation ul li {
		padding-left: 7px;
		font-weight: normal;
		list-style: none;
		display: inline;
	}
	
	#navigation a {
		text-decoration: none;
	}
	
	#navigation ul > li:first-child {
		padding-left: 0;
	}
	
	tr {
		background-color: #ffffff;
	}
	
	td {
		text-align:left;	
	}
	
	input {
		width: 120px;
	}
	
	div#content {
		position:absolute;
		top:160px;
		height:auto;
		width:80%;
		right:30px;
		bottom:auto;
		background-color: #ffffff;
		line-height: 18px;
		clear:both;
	}
	
	.emphasized {
		line-height: 18px;
		color: #000000;
	}
	
	.underline {
		border-width: 0px 0px 1px 0px;
		border-color: #000000;
		border-style: dotted;
		color: #000000;
	}
	
	.box-solid {
		border-width: 1px 1px 1px 1px;
		border-color: #666666;
		border-style: solid;
	}

	div.citation {
		text-align:right;
		font-style:italic;
	}

	p {
		text-align: left;
		padding-left: 1mm;
		padding-right: 1mm;
	}

	.alert {
		padding-left: 2mm;
		padding-right: 2mm;
		background-color: #0066cc;
		color: #ffffff;
		font-weight: bold;
	}

	.box-dash {
		border-width: 1px 1px 1px 1px;
		border-color: #666666;
		border-style: dotted;
	}
	
	.column-2 {
		column-count: 2;
		column-gap: 10px;
		column-rule: 1px dotted #BBB;
	}

	.column-4 {
		column-count: 5;
		column-gap: 10px;
		column-rule: 1px dotted #BBB;
		text-align: justify;
	}

	.column-3 {
		column-count: 3;
		column-gap: 10px;
		column-rule: 1px dotted #BBB;
		text-align: justify;
	}
	
	.box-filled {
		background-color: #cccccc;
	}

	ul {
		padding-left: 5mm;
		padding-right: 5mm;
		list-style-type: square;
	}
	
	div.image {
	   align: center;
	}

	div.image a,
 	div.image a:link,
   div.image a:visited,
   div.image a:active,
   div.image a:hover {
		color: #000000;
		text-decoration: none;
    }

	a:link, a:visited {
		color: #000000;
		text-decoration: underline;
	}

	a:hover	{
		color: #0066cc;
		text-decoration: none;
	}

	td.alert a:hover	{
		color: #ffffff;
		text-decoration: underline;
	}
	
	b.light {
		color: #ffffff;
	}
	
	q {

	}

	q:before {
		content: "\201C";
	}

	q:after {
		content: "\201D";
	}
	q[cite]:after {
		color: #0066cc;
		white-space: pre;
		content: "\201D\A\2014 " attr(cite);
	}
