	html {
		margin:0px; padding:0px;
	}

	body {	
		width:100%;
	  	margin-right:auto;
		margin-left:auto;
		padding:0px;
		font-family:"Gill Sans", Tahoma, Geneva, Trebuchet MS, Verdana, Arial, sans-serif;
		font-size:0.85em;
		color:#000000;
		background-color:#ffffff;
	}
		
	img {
		border-width:0px 0px 0px 0px;
	}
	
	div.footer {
		text-align:right;
		color:#000000;
		background-color:#ffffff;
		font-size:0.75em;
		margin:-5px;
	}
	
	div.header {
		position:absolute;
		width:100%;
		height:300px;
		left:0px;
		right:0px;
		top:5px;
		color:#000000;
		background:#8B8989;
	}
	
	div.header #logo {
		position:relative;
		top:10px;
		left:10px;
		float:left;
		z-index:2;
	}
	
	div.content {
		position:absolute;
		top:160px;
		left:auto;
		bottom:auto;
		padding-bottom:15px;
		width:90%;
		right:30px;
		color:#000000;
		background-color:#ffffff;
		line-height:18px;
	}
	
	.ext-link { background:url(./img/extlink.gif) no-repeat 0 58%; padding-bottom:1px; padding-left:16px }
	* html .ext-link { background-position:0 .35em } /* IE hack, see #937 */
	
	div#donate {
		position:absolute;
		top:5px;
		right:30px;
		width:134px; 
	}
	
	input#paypal {
		width:62px; 
		height:31px;
	}
	
	img#amazon {
		position:relative;
		float:right;
		width:62px; 
	}
	
	div#title {
		position:relative;
		float:left;
		margin-left:30px;
		top:5px;
	}
	
	h1#maintitle  {
		position:relative;
		float:left;
		font-size:3.0em;
	}

	h3#subtitle  {
		position:relative;
		clear:left;
		font-size:1.2em;
		top:-25px;
	}
	
	div#navigation {
		position:absolute;
		top:100px;
		left:0px;
		width:100%;
		text-align:right;
	}
	
	body#index a#navigation-index, 
	body#features a#navigation-features,
	body#changelog a#navigation-changelog,
	body#source a#navigation-source, 		
	body#reviews a#navigation-reviews, 
	body#license a#navigation-license, 
	body#donate a#navigation-donate {
		color:#0066cc;
	}

	#sidebar {
		width:280px;
	}
	
	/*	#sidebar > div:last-child { 
		margin-bottom:0px;
	}
*/
	#navigation ul {
		padding-left:0px;
		padding-right:60px;
		padding-top:3px;
		padding-bottom:0px;
		background:#fff url(./img/navigation.png) repeat-x;
		height:20px;
	}
	
	#navigation ul li {
		padding-left:10px;
		list-style:none;
		display:inline;
		font-weight:normal;
	}
	
	#navigation a {
		text-decoration:none;
	}
	
	#navigation ul > li:first-child {
		padding-left:0px;
	}
	
	tr {
		color:#000000;
		background-color:#ffffff;
	}
	
	td {
		text-align:left;	
	}
	
	input#mailinglist {
		width:120px;
	}
	
	.emphasized {
		line-height:18px;
		color:#000000;
	}
	
	.underline {
		border-width:0px 0px 1px 0px;
		border-color:#000000;
		border-style:dotted;
		color:#000000;
	}
	
	div.citation {
		text-align:right;
		font-style:italic;
	}

	p {
		text-align:left;
		padding-left:5px;
		padding-right:5px;
	}
	
	#maincolumn p {
		padding-left:15px; 
		padding-right:10px;
	}

	strong {
		color:#000000;
	}
	
	.box-filled {
		color: #4e4e4e;
		border: 1px solid #e2e2e2;
		background: #f1f1f1;
		padding:2px;
		padding-right:0px;
		margin-bottom:5px;
	}
		
	.box-solid {
		border: 1px solid #e2e2e2;
		margin-bottom:5px;
	}

	ul {
		padding-left:20px;
		padding-right:5px;
		list-style-type:square;
	}
	
	div.image a,
 	div.image a:link,
	div.image a:visited,
	div.image a:active,
	div.image a:hover {
		color:#000000;
		background-color:transparent;
		text-decoration:none;
    }

	a:link, a:visited {
		color:#000000;
		background-color:transparent;
		text-decoration:underline;
		border:none;
	}

	a:hover	{
		color:#0066cc;
		background-color:transparent;
		text-decoration:none;
		border:none;
	}

	b.light {
		color:#ffffff;
	}
	
	q:before {
		content:"\201C";
	}

	q:after {
		content:"\201D";
	}
	
	q[cite]:after {
		color:#0066cc;
		white-space:pre;
		content:"\201D\A\2014 " attr(cite);
	}

	div.feature {
		position:relative;
		float:left;
		width: 30%;
		padding-right:15px;
	}
	
	img.feature {
		position:relative;
		float:left;
		clear:both;
		padding-right:6px;
		height:16px;
	}

	img.sidebar {
		position:relative;
		float:left;
		clear:both;
		padding-right:6px;
	}
	
   .alert {
		margin:-5px;
		padding:2px;
		background-color: #0066cc;
	}