	body  
	{ 
		font-family: "Gill Sans", Tahoma, Geneva, Trebuchet MS, Verdana, Arial, sans-serif;
		font-size: 13px;
		color: #000000;
	}
	
	body#index a#index, 
	body#features a#features,
	body#changelog a#changelog,
	body#source a#source, 		
	body#license a#license, 
	body#testimonials a#testimonials, 		
	body#donate a#donate 		
	{
		text-decoration: none;
		font-weight: bold;
	}
	
	div.navigation {

	}

	#navigation ul {
		padding-left: 0;
	}

	#navigation ul li {
		padding-left: 7px;
		padding-right: 5px;
		border-left: 1px solid;
		list-style: none;
		display: inline;
	}

	#navigation ul > li:first-child {
		border-left: none;
		padding-left: 0;
	}
	
	tr
	{
		background-color: #ffffff;
	}
	
	td 
	{
		text-align:left;	
	}
	
	input
	{
		width: 120px;
	}
	
	.standard
	{
		background-color: #ffffff;
		line-height: 18px;
		color: #000000;
	}
	
	.emphasized
	{
		line-height: 18px;
		color: #000000;
	}
	
	.underline
	{
		border-width: 0px 0px 1px 0px;
		border-color: #000000;
		border-style: dotted;
		color: #000000;
	}
	
	.box-solid
	{
		border-width: 1px 1px 1px 1px;
		border-color: #666666;
		border-style: solid;
	}

	div.citation {
		text-align:right;
		font-style:italic;
	}

	.alert
	{
		padding-left: 2mm;
		padding-right: 2mm;
		border-width: 1px 1px 1px 1px;
		background-color: #FF9900;
		border-style: dotted;
		font-weight: bold;
	}

	.box-dash
	{
		border-width: 1px 1px 1px 1px;
		border-color: #000000;
		border-style: dotted;
	}
	
	.box-filled
	{
		background-color: #cccccc;
	}

	p
	{
		padding-left: 1mm;
		padding-right: 1mm;
	}
	
	ul
	{
		padding-left: 5mm;
		padding-right: 5mm;
		list-style-type: square;
	}
	
	#image {
	   align: center;
	}

	#image a,
 	#image a:link,
   #image a:visited,
   #image a:active,
   #image a:hover {
		color: #000000;
		font-weight: normal;
		text-decoration: none;
		border-style: none;
    }
		
	a:link, a:visited
	{
		color: #000000;
		font-weight: normal;
		border-style: none;
		text-decoration: underline;
	}

	a:hover	{
		color: #ff9900;
		font-weight: normal;
		border-style: none;
		text-decoration: none;
	}

	.alert a:hover	{
		color: #000000;
		font-weight: normal;
		border-style: none;
		text-decoration: underline;
	}
	
	.light {
		color: #cccccc;
	}
	
	q {
		margin-left: -0.45em;
	}

	q:before {
		content: "\201C";
	}

	q:after {
		content: "\201D";
	}

	q[cite]:after {
		white-space: pre;
		content: "\201D\A\2014 " attr(cite);
	}
	
	.xxsmall {  font-size: xx-small }
	.xsmall {  font-size: x-small }
	.small {  font-size: small }
	.medium {  font-size: medium }
	.large {  font-size: large }
	.xlarge {  font-size: x-large }
	.xxlarge {  font-size: xx-large }
	