name: Build and Deploy Website

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'content/**'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          cache: 'pip'
          python-version: 3.9

      - name: Set up dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt --root-user-action ignore

      - name: Build the project
        run: |
          pelican content -s publishconf.py

      - name: Save Cache
        uses: actions/cache/save@v5
        with:
          key: html-${{ github.sha }}
          path: ./output
  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Restore Cache
        uses: actions/cache/restore@v5
        with:
          key: html-${{ github.sha }}
          path: ./output

      - name: Credentials
        id: identity
        env:
          SFTP_IDENTITY: ${{ secrets.SFTP_IDENTITY }}
        run: |
          echo "$SFTP_IDENTITY" > private-key.pem
          echo "KEYFILE=private-key.pem" >> "$GITHUB_OUTPUT"

      - name: Upload
        uses: iterate-ch/cyberduck-cli-action@v1
        id: upload
        env:
          USERNAME: '${{ secrets.SFTP_USER }}'
          IDENTITY: '${{ steps.identity.outputs.KEYFILE }}'
        with:
          mode: upload
          url: '${{ secrets.SFTP_URL }}'
          path: 'output/*'
          args: '--existing compare --verbose'
